<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo container">
                    <img routerLink="/" src="../assets/image/Logo.png" alt="logo trouve ton artisant" class="logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                        <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue">
                    <div class="search">
                        
                            <div class="col-md-6">
                                <div class="form">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control form-input" placeholder="Rechercher ...">
                                    
                                </div>
                            </div>            
                        
                    </div>
                    <ul>
                        <li routerLink="/" (click)="closeMenu()">Accueil</li>
                        <li routerLink="/batiment" (click)="closeMenu()">Bâtiment</li>
                        <li routerLink="/services" (click)="closeMenu()">Services</li>
                        <li routerLink="/fabrication" (click)="closeMenu()">Fabrication</li>
                        <li routerLink="/alimentation" (click)="closeMenu()">Alimentation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
