<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img
            routerLink="/"
            src="../assets/image/Logo.png"
            alt="logo trouve ton artisant"
            class="logo"
          />
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li routerLink="/">Accueil</li>
            <li routerLink="/batiment">Bâtiment</li>
            <li routerLink="/services">Services</li>
            <li routerLink="/fabrication">Fabrication</li>
            <li routerLink="/alimentation">Alimentation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
