<footer>
  <section class="container">
    <div class="footer-content">
      <h3>Nous contacter :</h3>
      <p>101 cours Charlemagne</p>
      <p>CS 20033</p>
      <p>69269 LYON CEDEX 02</p>
      <p>France</p>
      <p>+33 (0)4 26 73 40 00</p>
    </div>
    <div class="footer-content">
      <h3>Pages légales :</h3>
      <ul class="list">
        <li routerLink="/mentions">Mentions légales</li>
        <li routerLink="/donnees">Données personnelles</li>
        <li routerLink="/accessibilite">Accessibilité</li>
        <li routerLink="/cookies">Cookies</li>
      </ul>
    </div>
  </section>
</footer>
