@font-face {
  font-family: "Graphik";
  src: url(/src/assets/font/Graphik-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: "Graphik";
  src: url(/src/assets/font/Graphik-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Graphik";
  src: url(/src/assets/font/Graphik-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url(/src/assets/font/Graphik-Light.otf);
  font-weight: lighter;
}
