.card-group {
    display: flex;
    flex-direction: row;
    background-color: #f1f8fc;
    margin: 20px;
    margin-bottom: 50px;
    gap: 20px;
}

.card {
    cursor: pointer;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: #0074c7 ;
    color: #f1f8fc;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

.card-title {
    color: #00497c;
    font-weight: bold;
    font-size: 20px; 
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.card-text h3 {
    font-size: 16px;
    color: #0074c7;
}

.star {
    font-size: 1.5rem;
}

.card-text p {
    font-size: 16px;
    color: #384050;
}


@media screen and (min-width:128px) and (max-width:900px) {
    .card-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}